pom.xml
pom.xml.asc
*.jar
*.class
/lib/
/classes/
/target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
.cpcache/
.idea/
*.iml
profiles.clj
.lein-env
node_modules/
.shadow-cljs/
cljs-runtime/
resources/public/js/