{:source-paths ["src/main"]
 :dependencies [[reagent "1.2.0"]
                [cljsjs/react "17.0.2-0"]
                [cljsjs/react-dom "17.0.2-0"]
                [binaryage/devtools "0.9.10"]
                [proto-repl "0.3.1"]
                [com.andrewmcveigh/cljs-time "0.5.2"]
                [cljs-http "0.1.46"]
                [metosin/reitit "0.5.15"]
                [fipp "0.6.24"]
                [cheshire "5.13.0"]]

 :builds       {:frontend
                {:target     :browser
                 :output-dir "resources/public/js"

                 :modules    {:main {:entries [tbuck.cljs.app]}}

                 :devtools   {:http-root "resources/public"
                              :http-port 5678}}}}

